<?xml version="1.0"?>
<!--
/**
 * Redstage Base module.
 *
 * @category: PHP
 * @package: Redstage/Base
 * @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
 * @author: Vaibhav Bhalerao <vbhalerao@redstage.com>
 * @keywords: Module Redstage_Base
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- ACL for Redstage Menu -->
                <resource id="Redstage_Base::main_menu" title="Redstage Base Main Menu" translate="title" sortOrder="100"/>

                <!-- ACL for Redstage System Config Menu -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Redstage_Base::system_configuration"
                                      title="Redstage Base System Configuration"
                                      translate="title"
                                      sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
