<?xml version="1.0"?>
<!--
/**
 * Redstage Base module.
 *
 * @category: PHP
 * @package: Redstage/Base
 * @copyright: Copyright © 2020 Magento, Inc. All rights reserved.
 * @author: Vaibhav Bhalerao <vbhalerao@redstage.com>
 * @keywords: Module Redstage_Base
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Redstage Icon In Left Side -->
        <add id="Redstage_Base::main_menu"
             title="Redstage"
             module="Redstage_Base"
             sortOrder="50"
             translate="title"
             resource="Redstage_Base::main_menu"/>
    </menu>
</config>
